
body{
    text-align: center;
}
@media screen and (min-width:760px){
.grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;

    grid-gap:10px;
    max-width:1920px;
    margin:0 auto;
  }
}
  .grid-item {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background-color: rgba(28, 7, 218, 0.863);
  }

  #cv-title {
      grid-column:1/13;
      grid-row:1;
  }
  #navpos{
      grid-column:1/13;
      grid-row:2;
  }
  #cvsnowphoto{
      grid-column:1/13;
      grid-row:3/6;
  }
  #summarytitle{
      grid-column:6/13;
      grid-row:7/10;
  }
  #crossphoto{
      grid-column:1/6;
      grid-row:6/11;    
  }
  #info{
    grid-column:1/13;
    grid-row:12/15;
  }
  #history-title{
      grid-column:1/6;
      grid-row:16/19;
  }
  #hist-photo{
      grid-column:6/13;
      grid-row:15/20;
  }
  #history{
      grid-column:1/13;
      grid-row:20/23;
  }
  #mantle-title{
      grid-column:1/13;
      grid-row:23;
  }
  #mantle-carousel{
      grid-column:1/13;
      grid-row:24/27;
  }
  #mantle-history{
      grid-column:1/13;
      grid-row:27/29;
  }
  .paginationpos{
    grid-column:3/13;
    grid-row:30;
}