
@media screen and (min-width:760px){
.grid-container {
    display: grid;
    grid-auto-columns: 12 1fr;
    grid-auto-rows: auto;
    max-width:1000px;
    margin:0 auto;
    grid-gap:10px;
  }
  }

  .cv-title {
      grid-column:1/13;
      grid-row:1;
  }
  .navposg{
      grid-column:1/13;
      grid-row:2/34;
  }
  .cvsnowphoto{
      grid-column:1/13;
      grid-row:3;
  }
  .summarytitle{
      grid-column:7/13;
      grid-row:7/10;
  }
  .crossphoto{
      grid-column:1/7;
      grid-row:6/11;    
  }
  .info{
    grid-column:1/13;
    grid-row:12/15;
  }
  .history-title{
      grid-column:1/6;
      grid-row:16/19;
  }
  .hist-photo{
      grid-column:6/13;
      grid-row:15/20;
  }
  .history{
      grid-column:1/13;
      grid-row:20/23;
  }
  .mantle-title{
      grid-column:1/13;
      grid-row:23;
  }
  .mantle-position{
      grid-column:1/13;
      grid-row:24/27;
  }
  .mantle-history{
      grid-column:1/13;
      grid-row:27/29;
  }
  .paginationpos{
      grid-column:5/13;
      grid-row:34;
  }
  .videopos{
      grid-column: 1/13;
      grid-row:31/34;
  }
  .videotittle{
      grid-column:1/13;
      grid-row:30;
  }