.crumbs{
    color:blue;
    font-size: 40%;
    text-align: center;
}
h2{
text-align: center;
font-size: 200%;
color: dodgerblue;
}
.add{
    width:80%;
    padding: 30;
}
.pfont{
    border-style: solid;
    border-color:purple;
    border-width: 5px;
    text-align: center;
    font-size: 15px;
    background:dodgerblue;   
}
.space {
    margin-bottom: 10px;
}
.heading {
    font-family: "Times New Roman", Times, serif;
}
.pd {
    padding-top: 50px;
    padding-bottom: 20px;
}
.imgpos{
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}
.navbg {
    background:purple;
}
.histo{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20;
    font-family:"arial";
}
.size {
    max-width:100%;
    height:auto;
}
.tp {
    margin-top:50px;
}
.bg {
    background-image: linear-gradient(purple,dodgerblue);
}
img{
    border: 1px solid dodgerblue;
    border-radius: 4px;
    width: 100%;
}
.imgtop{
    padding-top: 50px;
}
img:hover {
    box-shadow: 0 0 2px 1px purple;
  }
  @font-face {
    font-family: "StephensFont";
    src: url(sansation_light.woff);
  }
  .pagination{
      display:inline-block;
  }
  .pagination a{
      color:black;
      padding: 8px 16px;
  }
  .pagination a.active {
    background-color: purple;
    color:black;
  }
  .pagination a:hover:not(.active) {background-color:dodgerblue;}
  
  